@font-face{
  font-family:  montseratThin;
  src:url('../Fonts/montserrat/Montserrat-Thin.ttf');
}



.Carousel{
    background-color: #36a8be;
}

.jobs{
    position: absolute;
    top:80px;
    left:20px;
    color:white;
}

.pole{
    height:165px;
    width:2px;
    position:absolute;
    background-color:rgb(202, 202, 202);
    left:10px;
    top:-160px;
    transform:translateX(0px);
    transform: translateY(250px);
    transition: transform 2s ease-in 0.5s;
}

.initials{
    position: absolute;
    bottom:80px;
    padding:5px;
    left:20px;
    color:white;
    bottom:150px;
    background-color: #f8784d;
    height:40px;
    border-radius:5px;
    display: flex;
    text-align: center;
    align-items: center;
}
.socialMediaLinks{
    color:white;
    position: absolute;
    bottom:230px;
    left:230px;
    font-size: 15px;
    font-family: montseratThin;
    
}

.socialMediaLinks img  {
    background-color: brown;
    color:white;
    position: absolute;
    bottom:385px;
    left:600px;
 
    
}


@media screen and (max-width:740px){



    .socialMediaLinks{
        color:white;
        position: absolute;
        bottom:230px;
        left:230px;
        font-size: 15px;
        font-family: montseratThin;
        
    }

    .socialMediaLinks img  {
        background-color: brown;
        color:white;
        position: absolute;
        bottom:385px;
        left:600px;
     
        
    }

}


@media screen and (max-width: 530px) {
    .Carousel{
        background-color: #36a8be;
        height:500px;
        width:100%;
    }


    .Carousel img{
        width: 100%;
        height:100%;
    }

    .jobs{
        position: absolute;
        top:65px;
        left:20px;
        color:white;
    }

    .off{display:none}

    .pole{
        height:165px;
        width:2px;
        position:absolute;
        background-color:rgb(202, 202, 202);
        left:10px;
        top:-180px;
        transform:translateX(0px);
        transform: translateY(250px);
        transition: transform 2s ease-in 0.5s;
    }

    .initials{
        position: absolute;
        bottom:80px;
        padding:5px;
        
        color:white;
        bottom:150px;
        background-color: #f8784d;
        height:20px;
        border-radius:5px;
        display: flex;
        text-align: center;
        align-items: center;
    }

    .socialMediaLinks{
        color:white;
        position: absolute;
        bottom:230px;
        left:230px;
        font-size: 15px;
        font-family: montseratThin;
        
    }

    .socialMediaLinks img  {
        background-color: brown;
        color:white;
        position: absolute;
        bottom:385px;
        left:600px;
     
        
    }
}