
@media screen and (max-width:740px){
    
    
        .Hamburger{
        width:30px;
        height:3px;
        background-color:white;
        margin:5px;
        margin-right: 20px;
        cursor:pointer;
    }
    .rotateLeft{
    
        transform: rotate(-45deg)
        translate(-6px);
        transition: translate 0.3 0.3;
        
        
        
      }
      
      .off {display: none;}
      
      .rotateRight{
        transform: rotate(45deg)
        translate(-4px);
        transition: transform 0.1 0.1;
        
        
      }
    }

@media screen and (max-width:530px){
    
    .Hamburger{
    width:30px;
    height:3px;
    background-color:white;
    margin:5px;
    margin-left:-10px;
    margin-right:17px;
    
    cursor:pointer;
}
.rotateLeft{

    transform: rotate(-45deg)
    translate(-6px);
    transition: translate 0.3 0.3;
    
    
    
  }
  
  .off {display: none;}
  
  .rotateRight{
    transform: rotate(45deg)
    translate(-4px);
    transition: transform 0.1 0.1;
    
    
  }
}