.HobbiesHolder {
    width:100%;
    height:100px;
    display: block;
    justify-content: center;
    align-items: center;
    color:white;
    /* background-color:blue; */
    margin-bottom: 140px;
}

/* .HobbiesHolder div{


height:35px;
border-radius:5px;
text-align: center;


      } */

.setA{
    display:flex;
    width:100%;
    height:50px;
    /* background-color: green; */
    justify-content: center;
    align-items:flex-start;
    margin-bottom:10px;
}

.setA div{
    margin-right:10px;
    border-radius:5px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.setB div{
    margin-right:10px;
    border-radius:5px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.setB{
    display:flex;
    width:100%;
    height:50px;
    /* background-color: red; */
    justify-content: center;
    align-items: center;
}

.col1{
    width:150px;
    height:50px;
    background-color:#EE6756;
}

.col2{
    width:150px;
    height:50px;
    background-color:#FF9800;
    }
.col3{
    width:150px;
    height:50px;
        background-color:#586489;
        }

.col4{
    width:150px;
    height:50px;
        background-color:#0092DD;
        }

.col5{
    width:150px;
    height:50px;
        background-color:#FCCE00;
        }

.col6{
    width:150px;
    height:50px;
        background-color:#FE7C00;
        }

@media screen and (max-width: 560px) {

.HobbiesHolder {
    width:100%;
    height:100px;
    display: block;
    justify-content: center;
    align-items: center;
    color:white;
    /* background-color:blue; */
    margin-bottom: 140px;
}

/* .HobbiesHolder div{


height:35px;
border-radius:5px;
text-align: center;


      } */

.setA{
    display:flex;
    width:100%;
    height:50px;
    /* background-color: green; */
    justify-content: center;
    align-items:flex-start;
    margin-bottom:10px;
}

.setA div{
    margin-right:10px;
    border-radius:5px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.setB div{
    margin-right:10px;
    border-radius:5px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.setB{
    display:flex;
    width:100%;
    height:50px;
    /* background-color: red; */
    justify-content: center;
    align-items: center;
}

.col1{
    width:150px;
    height:50px;
    background-color:#EE6756;
}

.col2{
    width:150px;
    height:50px;
    background-color:#FF9800;
    }
.col3{
    width:150px;
    height:50px;
        background-color:#586489;
        }

.col4{
    width:150px;
    height:50px;
        background-color:#0092DD;
        }

.col5{
    width:150px;
    height:50px;
        background-color:#FCCE00;
        }

.col6{
    width:150px;
    height:50px;
        background-color:#FE7C00;
        }









    }