.InfoSection{
    display:block;
    width:100%;
    height:300px;
    /* background-color: brown; */
}

.Buttons{
 
        display:flex;
        width:100%;
        height:43px;
        /* background-color: green; */
        justify-content: flex-start;
        align-items:flex-start;
        margin-bottom:10px;
        padding-left:30px;


}


.Buttons div{
    margin-right:5px;
    
    display:flex;
    align-items: center;
    justify-content: center;
    width:90px;
    height:40px;
    background-color:rgb(79, 194, 137);
    color:white;
    font-family: montseratBold;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size:13px;
    cursor:pointer;
    
    
}

.AboutInfo {
    width:75%;
    height:250px;
    margin-top:-13px;
    margin-left:30px;
    border:1.5px solid #4688F0;
    padding:15px;
    color:black;
    text-align: left;
}

.col1{
    width:150px;
    height:50px;
    background-color:#EE6756;
}