
@media screen and (max-width:530px){
    .navDropdown{
      height:69%;
      width:100vw;
      background-color:rgba(7, 11, 46, 0.6);
      position:absolute;
      top:44px;
      right:0px;
      color:white;
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      transform:translateX(-100%);
      transition: transform 0.3s;
    }
    .active {
      transform: translateX(0) !important;
    }
    .navDropdown li a{
        text-decoration:none;
        color:white;
        flex-basis: 40px;
  
  
    }

    .navDropdown li a:hover{
      width:100vw;
      text-decoration:none;
      background-color:rgb(238, 1, 100);
      


  }

  }