@font-face{
    font-family:  montseratBold;
    src:url('../Fonts/montserrat/Montserrat-Bold.otf')
  }
.OtherSkillHolder{
    font-family:  montseratBold;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    
}

.OtherSkillHolder div{
 margin:5px;
}

.set1  {
    display:flex;
    flex-direction: row;
    width: 100%;
    margin:5px;
    
}

.set2  {
    display:flex;
    flex-direction: row;
    width: 100%;
    margin:15px;
    
}


@media screen and (max-width:740px){
    .OtherSkillHolder{
    
        width: 100%;
        display: flex;
        color:yellowgreen;
        
    }
    
    .set1  {
        display:flex;
        flex-direction: row;
        width: 100%;
    }
    
    .set2  {
        display:flex;
        width: 100%;
    }
    


}


@media screen and (max-width: 560px) {

    .OtherSkillHolder{
        
        width: 100%;
        display: flex;
        color:yellowgreen;
        
    }
    
    .set1  {
        display:flex;
        flex-direction: row;
        width: 100%;
    }
    
    .set2  {
        display:flex;
        width: 100%;
    }
    
}