.PicSlideHolder{
    
    width: 100%;
    
    color:white;
    
}


@media screen and (max-width:740px){
    .PicSlideHolder{
    
        width: 100%;
        height:300px;
        
        color:white
        
    }


}


@media screen and (max-width: 530px) {

    .PicSlideHolder{
    
        width: 100%;
        
        height:200px;
        display:flex;
        font-size:35px;
        align-items: center;
        justify-content: center;
        
    }

    .leftScroll{
        position: absolute;
        color:green;
        top:940px;
        left:20px;
        font-size: 30px;
        font-family: montseratBold;

        
    }

    .rightScroll{
        position: absolute;
        color:green;
        top:940px;
        left:340px;
        font-size: 30px;
        font-family: montseratBold;
    }

    .imagesSlide {
        width:100%;
        height:200px;
    }

}