@font-face{
  font-family:  montseratBold;
  src:url("../src/Fonts/montserrat/Montserrat-Bold.otf");
}

h2{
  font-family:  montseratBold;
}

.navDropdown{
  display: none;
}
.hobbies{
   font-family: montseratBold;
   display: flex;
   justify-content: center;
   align-items: center;
   color:green;
   text-align: left;
   margin-top:80px;
   margin-bottom:20px;
   margin-left:5px;
}

.hobbies div{
  margin:10px;
  flex-direction: row;
  width:70%;
  height:2px;
  background-color: #4688F0;
}
.App {
  text-align: center;
  background-color:white;
  height:100%;
  width:100%;
  

}


.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(7px + 2vmin);
  color: white;
  padding:0px 20px;
}
.links{
  display: flex;
  list-style: none;
  width: 30%;
  font-size: 15px;
  justify-content: space-around;
  align-items: center;
  color: white;
  margin-left: auto;
  /* background-color: #c00946; */
  height:100%;
  
  
}
.links li{
  height:100%;
  display: flex;
  align-items: center;
  padding:0px 5px;
}
.links :hover{
  background-color: #c00946;
  

     
 }

.links li a{
  color: white;
  text-decoration: none
}




.TopSearch  {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.Hamburger{
  display: none
}




@media screen and (max-width: 760px) {
  footer{
    widows: 100%;
    height: 50px;
    background-color:#4688F0;
    color:white;
    align-items: center;
    justify-content: center;
    
  }
  .App {
    background-color: white;
    overflow-x: hidden;
    
  }

  .App-header {
    background-color: #282c34;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: calc(7px + 2vmin);
    color: white;
    padding:0px 20px;
    width: 100%;
  }

  .TopSearch{
    display: flex;
    width:30%;
    margin-left: -100px;
    margin-right: 20px;
  }

  .Hamburger{
    display: block;
    
    
  }

  .ham{
    margin-right: 30px;
    margin-left: -10px;
  }

  .links{
    display: none;
    justify-content: flex-start;
    width: 50%;
      
  }
}


footer{
  display:flex;
  widows: 100%;
  height: 50px;
  background-color:#4688F0;
  color:white;
  align-items: center;
  justify-content: center;
  
}


@media screen and (max-width: 530px) {


  footer{
    widows: 100%;
    height: 50px;
    background-color:#4688F0;
    color:white;
    align-items: center;
    justify-content: center;
    
  }
  .App {
    width:100vw;
    height:100%;
    background-color: white;
  
  }
  .navDropdown{
    display: flex;
  }


  .App-header {
    background-color: #282c34;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: calc(7px + 2vmin);
    color: white;
    padding:0px 20px;
    width: 100%;
    overflow-x: hidden;
  }

  .TopSearch{
    display: flex;
    width:30%;
    margin-left: 5px;
    margin-right: 115px;
  }

  .Hamburger{
    display: block;
    
    
  }

  .ham{
    margin-right: 30px;
    margin-left: -10px;
  }

  .links{
    display: none;
    justify-content: flex-start;
    width: 50%;
      
  }
  
 
}
