@font-face{
  font-family:  montseratThin;
  src:url("../src/Fonts/montserrat/Montserrat-UltraLight.otf");
}




body {
  margin: 0;
  font-family: montseratThin,-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width:100vw;

}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media screen and (max-width:520px){
  html,body {
    margin: 0;
    font-family: montseratThin,-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width:100vw;
    overflow-x: hidden;
    background-color: cornsilk;
    
    
    
  }
} 
